<!DOCTYPE html>

<html>

<head>
  {{> common-index-header}}

  <link rel="stylesheet" href="{{coreUrl}}/css/bootstrap-theme.min.css" />
  <link rel="stylesheet" href="{{staticUrl}}/app/warpjs-edition.min.css" />

  {{#if cssFile}}
    <link rel="stylesheet" href="{{cssFile}}" />
  {{/if}}
</head>

<body {{#if isStudio}}class="warpjs-studio"{{/if}}>
  <div id="warpjs-content-placeholder"></div>

  <script src="{{staticUrl}}/js/tinymce.min.js"></script>
  <script src="{{staticUrl}}/libs/custom-links-modal.js"></script>

  {{> common-index-body-bottom}}
</body>
</html>
