<html>

<head>
  {{> common-index-header}}

  <link rel="stylesheet" href="{{staticUrl}}/app/{{_links.warpjsUtilsCss.href}}" />
  <link rel="stylesheet" href="{{staticUrl}}/app/warpjs.min.css" />

  {{#if cssFile}}
    <link rel="stylesheet" href="{{cssFile}}" />
  {{/if}}
</head>

<body>
  {{#if _links.topBanner.href}}
    <div id="warpjs-top-banner">
      <img src="{{_links.topBanner.href}}" alt="{{_links.topBanner.title}}" />
    </div>
  {{/if}}

  {{#if _links.feedback.href}}
    <div id="warpjs-feedback-button" data-warpjs-url="{{_links.feedback.href}}">Feedback</div>
  {{/if}}

  <div id="warpjs-content-placeholder"></div>

  {{> common-index-body-bottom}}
</body>

</html>
