<!DOCTYPE html>
<html>
<head>
    <title>WarpJS - {{title}}</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <link href="{{staticUrl}}/3rd-party/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{staticUrl}}/3rd-party/css/bootstrap-theme.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{staticUrl}}/3rd-party/css/font-awesome.min.css" />
    <link rel="stylesheet" href="{{staticUrl}}/3rd-party/css/jquery.toast.min.css" />
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{{staticUrl}}/libs/bootstrap/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{staticUrl}}/libs/bootstrap/theme.css" rel="stylesheet">

    <!-- HeadStart specific styles -->
    <link rel="stylesheet" href="{{staticUrl}}/app/warpjs-content.min.css" />

{{#if cssFile}}
    <link rel="stylesheet" href="{{cssFile}}" />
{{/if}}

    <link rel="shortcut icon" href="{{staticUrl}}/images/favicon.ico" />
    <link rel="icon" href="{{staticUrl}}/images/favicon.ico" />
</head>

<body>
    <div id="warpjs-content-placeholder"></div>

    <!-- Bootstrap core JavaScript -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{staticUrl}}/3rd-party/js/jquery.min.js"></script>
    <script src="{{staticUrl}}/3rd-party/js/bootstrap.min.js"></script>
    <script src="{{staticUrl}}/3rd-party/js/jquery.toast.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{{staticUrl}}/libs/bootstrap/ie10-viewport-bug-workaround.js"></script>
    <script src="{{staticUrl}}/3rd-party/js/tinymce.min.js"></script>
    <script src="{{staticUrl}}/libs/custom-links-modal.js"></script>

{{#each bundles}}
    <script src="{{this}}"></script>
{{/each}}

</body>
</html>

