<html>

<head>
  {{> common-index-header}}

  <link rel="stylesheet" href="{{coreUrl}}/css/{{_links.warpjsUtilsCss.href}}" />
  <link rel="stylesheet" href="{{staticUrl}}/app/warpjs.min.css" />

  {{#if cssFile}}
    <link rel="stylesheet" href="{{cssFile}}" />
  {{/if}}

</head>

<body>
  {{#if _links.topBanner.href}}
    <div id="warpjs-top-banner">
      <img src="{{_links.topBanner.href}}" alt="{{_links.topBanner.title}}" />
    </div>
  {{/if}}

  {{#if _links.feedback.href}}
    <div id="warpjs-feedback-button" data-warpjs-url="{{_links.feedback.href}}">Feedback</div>
  {{/if}}

  <div class="page--top no-padding container-fluid">
    <div class="row warpjs-hi-primary">
      {{> left-right-margin}}
      <div class="col-xs-12 col-sm-10">
        {{> portal-index-top}}
      </div>
      {{> left-right-margin}}
    </div>
  </div>

  <div class="page--header no-padding container-fluid">
    <header class="header row">
      {{> left-right-margin}}
      <div class="col-xs-12 col-sm-10">
        {{> portal-index-header}}
      </div>
      {{> left-right-margin}}
    </header>
  </div>

  <div id="warpjs-content-placeholder">
  </div>

  <div class="page--footer no-padding container-fluid">
    <footer class="footer row">
      {{> left-right-margin}}
      <div class="col-xs-12 col-sm-10">
        {{> portal-index-footer}}
      </div>
      {{> left-right-margin}}
    </footer>
  </div>

  <script src="{{coreUrl}}/js/tinymce.min.js"></script>

  {{> common-index-body-bottom}}
</body>

</html>
