<title>WarpJS - {{title}}</title>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

<link rel="shortcut icon" href="/public/favicon.ico" />
<link rel="icon" href="/public/favicon.ico" />

<link rel="stylesheet" href="{{staticUrl}}/3rd-party/css/bootstrap.min.css" />
<link rel="stylesheet" href="{{staticUrl}}/3rd-party/css/bootstrap-theme.min.css" />
<link rel="stylesheet" href="{{staticUrl}}/3rd-party/css/font-awesome.min.css" />
<link rel="stylesheet" href="{{staticUrl}}/3rd-party/css/jquery.toast.min.css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald:300,400" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli" />

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<link rel="stylesheet" href="{{staticUrl}}/libs/bootstrap/ie10-viewport-bug-workaround.css" />

<!-- Custom styles for this template -->
<link rel="stylesheet" href="{{staticUrl}}/libs/bootstrap/theme.css" />

